{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="workbench">
        <div class="colonne">            
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >EMPLOI DU TEMPS</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/emploi_temps.png')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>
            
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >FORMATION</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >PROMOTION</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>            
        </div>    
        <div class="colonne">            
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >UTILISATEUR</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>
            
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >SALLE DE CLASSE</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >EMARGEMENTE</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>            
            
        </div> 
        <div class="colonne">
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >MATIERE</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button> 
            <button class="btn">
                <div class="bandeau-orange" style="width: 345px; height: 45px; font-size: 25px"
                >SESSION</div>
                <div class="btn-emploi_temps">
                    <img src="{{ asset('assets/images/')}}" alt="">
                </div>    
                <div class="bandeau-bleu" style="width: 345px; height: 45px;"></div>
            </button>
            
        </div>
</div>
   

{% endblock %}
